.menu {
    width: 60%; /* 横幅 */
    margin: 0 auto;  /* 中央寄せ（左右に余白がないとできない） */
    text-align: center; /* 文字を中央揃えにする */
}

.menu-title {
    display: flex; /* Flexboxの利用 */
}

.menu-title h1 {
    font-size: 20px;
}

.menu-icon {
    margin: auto 10px auto auto; /* 外側余白 */
    padding: 10px 15px; /* 内側余白 */
}

.menu-icon:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: #c7c6c6;
}

.menu-text {
    margin: 0;
    padding: 30px 0;
}

/* JSで変更を加えるスタイル */
main .display-none {
    display: none;
}